@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

.App {
  max-width: 70%;
  margin: 0 auto;
  background-color: #242424;
  &_Title {
    font-family: 'Noto serif jp', serif;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0;
    & > p {
      margin: 0;
    }
    & > h1 {
      margin: 0;
    }
  }
  &_Footer {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
  }
}
