.BookInfo {
  height: 83vh;
  &_Info {
    display: flex;
    justify-content: space-evenly;
    padding: 0 5%;

    & > section {
      flex: 1 1 auto;
      width: 40%;
      margin: 0 2.5%;
    }
    &_DescHead {
      text-align: center;
      margin-bottom: 0;
      text-decoration: underline;
    }
    &_Desc {
      margin-top: 0.5rem;
      text-align: center;
    }
    &_Title {
      text-align: center;
      margin-top: 0;
    }
    &_Authors {
      text-align: center;
    }
  }
  &_Image {
    flex: 1 1 auto;
  }
}

img {
  width: 100%;
}

span {
  padding-left: 2.5%;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
