.BookCard {
  text-align: left;
  width: 97.5%;
  margin: 0 1rem;
  border: 1px solid #f4eee0;

  display: flex;

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 0;
    padding-left: 1rem;
  }
}

.BookCard:hover {
  cursor: pointer;
  box-shadow: 0.5rem -0.5rem white;
  transition: box-shadow 0.5s;
}
