.BookCard {
  text-align: left;
  display: flex;
  margin: 0 1rem;
  border: 1px solid #f4eee0;

  & > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 0;
    padding-left: 1rem;
  }
  & > td:nth-child(3) {
    text-align: center;
  }
}

.BookCard:hover {
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0 0 white;
  transition: box-shadow 0.5s;
}
//fix this later
